@media screen and (max-width: 767px) {
  .tel {
    display: flex;
  }
}

.contact {
  display: inline-block;
  margin: 0;
}
.contact:hover,
.contact:focus {
  color: rgb(25, 118, 210);
}
.tel {
  padding-left: 10px;
}
