.form {
  padding: 10px;
  border: 2px solid rgb(156, 139, 125);
}
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .input {
    max-width: 300px;
  }
}
.input {
  padding: 10px;
  background-color: transparent;
  /* background: linear-gradient(0deg, #9ea8a3, #e1e5e7); */
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.input:hover,
.input:focus {
  border-color: rgb(25, 118, 210);
  color: rgb(25, 118, 210);
}
